/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------Nuevo Css-------------------------------------------*/

body{
    background-color: #DDDDD9;
}

img{
    width: 15%;
}

section#contenedor > section >img{
    width: 30%;
}

section#contenedor > section{

    text-align: center;
}


/*---------------------------Figuras-------------------------------------------*/

section#contenedor{
    background-color: #F7B577;
    height: 500px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
/*---------------------------Siluetas-------------------------------------------*/
section#inicial{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    margin-top: 2%;
    text-align: center;
}

/*---------------------------Corrector-------------------------------------------*/

section#corrector{
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
/*
    background-color: red;
    height: 50px;
    width: 5%;
    border-radius: 100%;
    border: solid 1px black;
*/

     width: 100px;
     height: 100px;
     border-radius: 50%;
     background: #DE1A0D;
}
